{% extends './v1/layout/default' %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}

    <form method="POST" action="{{ route('piggy-banks.store') }}" accept-charset="UTF-8" class="form-horizontal" id="store" enctype="multipart/form-data">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">
        <input type="hidden" name="repeats" value="0"/>
        <div class="container-fluid goal-form">
               
            <div class="box-body row">
                <h1 class="text-center mb-5">
                    <img src="new budget icon.png">
                    ADD NEW PIGGY BANK
                </h1>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.text('name', null, {helpText: '(Required)'}) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ AccountForm.assetAccountList('account_id', null, {label: 'saveOnAccount'|_, helpText: '(Required)'   }) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.amountNoCurrency('targetamount', null, {helpText: '(Required)'} ) }}
                </div>

    
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.date('targetdate') }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.textarea('notes', null, {helpText: trans('firefly.field_supports_markdown')} ) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.file('attachments[]', {'multiple': 'multiple','helpText': trans('firefly.upload_max_file_size', {'size': uploadSize|filesize}) }) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.objectGroup() }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.optionsList('create','piggy bank') }}
                </div>
               
            </div>
            <div class="row text-center">
                <button type="submit" class="btn">
                        {{ 'store_piggy_bank'|_ }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="v1/js/lib/modernizr-custom.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/lib/jquery-ui.min.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/ff/piggy-banks/create.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>

    {# auto complete for object groups #}
    <script type="text/javascript" src="v1/js/lib/typeahead/typeahead.bundle.min.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/ff/object-groups/create-edit.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
{% endblock %}

{% block styles %}
    <link href="v1/css/jquery-ui/jquery-ui.structure.min.css?v={{ FF_VERSION }}" type="text/css" rel="stylesheet"  media="all" nonce="{{ JS_NONCE }}">
    <link href="v1/css/jquery-ui/jquery-ui.theme.min.css?v={{ FF_VERSION }}" type="text/css" rel="stylesheet"  media="all" nonce="{{ JS_NONCE }}">
{% endblock %}
