{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <form method="POST" action="{{ route('budgets.store') }}" accept-charset="UTF-8" class="form-horizontal" id="store" enctype="multipart/form-data">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">
        <input name="active" type="hidden" value="1">

        <div class="container-fluid budget-form">
            <div class="box-body row">
                <h1 class="text-center mb-5">
                    <img src="new budget icon.png">
                    ADD NEW BUDGET
                </h1>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.text('name', null, {helpText: '(Required)'}) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.select('auto_budget_type', autoBudgetTypes,null, {helpText: trans('firefly.auto_budget_help')}) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ CurrencyForm.currencyList('auto_budget_currency_id') }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.amountNoCurrency('auto_budget_amount') }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.select('auto_budget_period', autoBudgetPeriods, null) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.file('attachments[]', {'multiple': 'multiple','helpText': trans('firefly.upload_max_file_size', {'size': uploadSize|filesize}) }) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{ ExpandedForm.optionsList('create','budget') }}
                </div>
                
            </div>
            <div class="row text-center">
                <button type="submit" class="btn">{{ 'store_new_budget'|_ }}</button>
            </div>
        </div>
        
    </form>


{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="v1/js/ff/budgets/create.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
